<!DOCTYPE html>
<html>
  <head>
    <title>ProjectConversationHistory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Import the main stylesheet -->
    <%= stylesheet_link_tag "application", "custom", media: "all", "data-turbo-track": "reload" %>

    <!-- Import JavaScript via Importmap -->
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
